.current {
	color: green;
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#cdcdcd
}

.article-title
{
  font-size:35px;
  font-weight:700;
  #color:#000000;
  padding-top:15px
}

#welcome-greeting
{
  width:100%;
  padding-top:5px
}

#welcome-greeting > h1
{
  font-size:3em;
  font-weight:700;
  line-height:130%
}

#welcome-greeting h1:hover
{
  font-size:3em;
  font-weight:700;
  transition:all .5s ease 0
}

img
{
  width:80%;
}

#social-wrapper
{
  color:#5c646f;
  padding:20px 0 0
}

#social-wrapper a
{
  font-size:15px;
  text-indent:0px
}

#social-wrapper li
{
  font-size:15px;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  color:#2d1e18;
  transition:all .3s ease 0
}

.navbar 
{
  display: none;
}

.navbar a 
{
  text-decoration: none;
  border-bottom: 1px #b1b1b1 solid;
}

ul
{
  list-style:none;
}

.text-justify {
  text-align: justify;
}

.half-size-img {
  width: 50%;
  height: 50%;
}

.seventy-size-img {
  width: 80%;
  height: 80%;
}

.thirty-size-img {
  width: 20%;
  height: 20%;
}

 #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-style: none;
}

#sidebarCollapse span {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar-wrapper {
    min-width: 20%;
    max-width: 20%;
    min-height: 100vh;
    background:#263651;
    z-index:1000;
    border-width:4px;
    overflow-y:auto;
    margin-top:-4px;
    border-top:solid #d90006;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar-wrapper.active {
    margin-left: -20%;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

.sidebar-nav {
  position: fixed;
  padding-top:40px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
    	margin-left: -20%;
    }
    #sidebar-wrapper.active {
    	margin-left: 0;
    }
}
